meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
title Sfotipy | Toda la música que te gusta, ¡en todas partes!
link(rel="shortcut icon" href="./assets/fav.ico")
link(href="./css/style.css" rel="stylesheet" )
// Google Fonts
link(href="http://fonts.googleapis.com/css?family=Varela+Round|Varela" rel="stylesheet" type="text/css")
// Material Icons
link(href="http://cdn.materialdesignicons.com/1.1.70/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css")
