meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
title Sfotipy | Toda la música que te gusta, ¡en todas partes!
link(rel="shortcut icon" href="./assets/fav.ico")
// Google Fonts
link(href="http://fonts.googleapis.com/css?family=Varela+Round|Open+Sans:400,300,600,700" rel="stylesheet" type="text/css")
// Material Icons
link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
