section.intro

  .row
    .container
      .flexbox
    
        figure.logo
          a(href="#")
            img(src="./assets/logo-w.png" alt="sfotipy logo" width="200" height="62")
          
        .login
          a(href="#") 
            | Login 
        
  .row
    .container
      .jumbotron.text-center
        h1
          |Toda la música que te gusta,
          br 
          |¡en todas partes!
        .social.center-block
          a.facebook.btn.btn-primary.btn-lg.btn-block(href="#") 
            i.mdi.mdi-facebook
            | Conéctate con Facebook
          a.twitter.btn.btn-default.btn-lg.btn-block(href="#") 
            i.mdi.mdi-twitter 
            | Conéctate con Twitter
        p.new-account
          | or #[a(href="#") create an account]

.sm-login-account.hidden-lg.hidden-md
  .row
    .container
      .col-xs-6
        .login
          a(href="#") 
            | Login
      .col-xs-6
        .new-account
          a(href="#") 
            | Create an account
