.intro

  height 600px
  background #000 url('../assets/structure/intro.jpg') center no-repeat

  .row

    padding 1.5em 0

    .container

      // Code here

      .flexbox

        display flex
        align-items center
        justify-content space-between

        .logo

          // Code here

          a

            // Code here

        .login

          // Code here

          a

            // Code here

  .row

    // Code here

    .container

      // Code here

      .jumbotron

        padding 0
        margin 0
        background none

        h1

          margin 0
          padding 1em 0
          color $gray-lighter
          font-family $varela-round

        .social

          width 22em

          a

            border none
            color $gray-lighter
            font-size 1.250em
            text-align left
            padding 1em
            display flex
            align-items center
            justify-content center

            &.facebook

              background $facebook-color

              i

                margin-right .3em
                padding-right .3em
                font-size 1.5em
                border-right 2px solid $facebook-color-dark

            &.twitter

              margin-top 10px
              background $twitter-color

              i

                margin-right .3em
                padding-right .3em
                font-size 1.5em
                border-right 2px solid $twitter-color-dark

        .new-account

          color $gray-lighter
          margin 0
          padding 1em 0
