include ./includes/components/_variables.jade
<!DOCTYPE html>
html(lang="en")
	head
		include ./includes/basic_structure/head.jade
	body
		
		// Header with nav
		include ./includes/structure/topnav.jade
		
		.wrapper
			
			// Player 
			- PlayerSongAuthor = "nightwish"
			- PlayerSongName = "amaranth"
			- PlayerSongImage = SongImagePathM+PlayerSongAuthor+"_"+PlayerSongName+ImagesExt
			- PlayerSongImageAlt = PlayerSongAuthor + " " + PlayerSongName
			include ./includes/components/player.jade

			// Playlist
			include ./includes/components/playlist.jade

		// Song list
		section.container
			// Song 1
			- SongAuthor = "epica"
			- SongName = "the quantum"
			- SongImage = SongImagePathS+SongAuthor+"_"+"the-quantum-enigma"+ImagesExt
			- SongImageAlt = SongAuthor + " " + SongName
			include ./includes/components/song.jade
			// Song 2
			- SongAuthor = "stratovarius"
			- SongName = "nemesis"
			- SongImage = SongImagePathS+SongAuthor+"_"+SongName+ImagesExt
			- SongImageAlt = SongAuthor + " " + SongName
			include ./includes/components/song.jade
			// Song 3
			- SongAuthor = "nightwish"
			- SongName = "once"
			- SongImage = SongImagePathS+SongAuthor+"_"+SongName+ImagesExt
			- SongImageAlt = SongAuthor + " " + SongName
			include ./includes/components/song.jade
			// Song 4
			- SongAuthor = "stratovarius"
			- SongName = "elysium"
			- SongImage = SongImagePathS+SongAuthor+"_"+SongName+ImagesExt
			- SongImageAlt = SongAuthor + " " + SongName
			include ./includes/components/song.jade
			// Song 5
			- SongAuthor = "sonata arctica"
			- SongName = "pariahs child"
			- SongImage = SongImagePathS+"sonata-arctica_pariahs-child"+ImagesExt
			- SongImageAlt = SongAuthor + " " + SongName
			include ./includes/components/song.jade
			// Song 6
			- SongAuthor = "nightwish"
			- SongName = "storytime"
			- SongImage = SongImagePathS+SongAuthor+"_"+SongName+ImagesExt
			- SongImageAlt = SongAuthor + " " + SongName
			include ./includes/components/song.jade
			// Song 7
			- SongAuthor = "stratovarius"
			- SongName = "polaris"
			- SongImage = SongImagePathS+SongAuthor+"_"+SongName+ImagesExt
			- SongImageAlt = SongAuthor + " " + SongName
			include ./includes/components/song.jade
			// Song 8
			- SongAuthor = "nightwish"
			- SongName = "century child"
			- SongImage = SongImagePathS+SongAuthor+"_"+"century-child"+ImagesExt
			- SongImageAlt = SongAuthor + " " + SongName
			include ./includes/components/song.jade

		include ./includes/basic_structure/footer.jade
	
