/* COLORS */

dark-gray = #333
gray = #a9a9a9
light-gray = #f3f3f3
white = #f9f9f9
fucsia = #bd255b

/* TYPOGRAPHY */

sans = 'Varela Round', Helvetica, sans-serif

/* COMPONENTS */

song-width = 8rem

/* RESPONSIVE */

tablet = "screen and (min-width:480px)"
desktop = "screen and (min-width:1000px)"