/* Brand Colors */

$primary-color = #333
$secondary-color = #cc2f6f
$facebook-color = #3d5a98
$facebook-color-dark = #243554
$twitter-color = #5fa9dd
$twitter-color-dark = #478bb5


/* Typography */

$varela = Varela, Helvetica, Arial, sans-serif
$varela-round = Varela Round, Helvetica, Arial, sans-serif

/* Components */

/* Responsive */

$screen-xs = 480px
$screen-xs-min = $screen-xs
$screen-xs-phone = $screen-xs-min

$screen-sm = 768px
$screen-sm-min = $screen-sm
$screen-tablet = $screen-sm-min

$screen-md = 992px
$screen-md-min = $screen-md
$screen-desktop = $screen-md-min

$screen-lg = 1200px
$screen-lg-min = $screen-lg
$screen-lg-desktop = $screen-lg-min

$screen-xs-max = ($screen-sm-min - 1)
$screen-sm-max = ($screen-md-min - 1)
$screen-md-max = ($screen-lg-min - 1)

$desktop = "(min-width: $screen-lg)"
$laptop = "(min-width: $screen-md) and (max-width: $screen-md-max)"
$tablet = "(min-width: $screen-sm) and (max-width: $screen-sm-max)"
$phone = "(max-width: $screen-xs-max)"
$small-phone = "(max-width: $screen-xs)"
