/* Brand Colors */

$primary-color = #333
$secondary-color = #cc2f6f
$facebook-color = #3d5a98
$facebook-color-dark = #243554
$twitter-color = #5fa9dd
$twitter-color-dark = #478bb5


/* Typography */

$varela = Varela, Helvetica, Arial, sans-serif
$varela-round = Varela Round, Helvetica, Arial, sans-serif

/* Components */

/* Responsive */

tablet = "screen and (min-width:480px)"
desktop = "screen and (min-width:1000px)"
