body
	
	font-family sans
	font-size 16px
	
	@media tablet
	
		// Code here
			
	@media desktop
	
		background light-gray

figure
	
	margin 0
	
a
		
	text-decoration none
	
img
	
	vertical-align top
	
*:focus
	
	outline 0