.container
	font-size 0
	padding 1.4rem
	text-align center
	clear both
	
.relative
	position relative

.absolute
	position absolute
	
.border-bottom
	border-bottom 1px solid gray
	
.center-block
	margin 0 auto
	
.center-inline
	text-align center

.right-text
	text-align right
	
.relative
	position relative

.gutter
	padding 1em
	
.wrapper

	width auto
	margin 0 auto
	
	@media tablet
	
		width auto
	
	@media desktop
	
		width 1000px
	
	

	